# Ignore all venv folders in the backend directory
/backend/**/venv/

# Ignore all __pycache__ folders in the backend directory
/backend/**/__pycache__/

# Ignore all .env files in the backend directory
/backend/**/*.env
